@model IEnumerable<RestaurantManagementSystem.ViewModels.OrderViewModel>
@using RestaurantManagementSystem.Common

@{
    ViewBag.Title = "New Orders";
    long orderId = 0;
    if (@Model != null && Model.Any())
    {
        orderId = @Model.FirstOrDefault().Id.Value;
    }
    else
    {
        orderId = 0;
    }
}
<div class="col-md-12">
    <div class="box box-default">
        <div class="box-header with-border">
            <h2 class="box-title"><b>Today's Orders</b></h2>
            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <table class="table table-striped" id="tblItemsList">
            <thead>
                <tr>
                    <th style="display:none;">Id</th>
                    <th>Bill#</th>
                    <th>Order#</th>
                    <th>Order Time</th>
                    <th>Customer</th>
                    <th>Table</th>
                    <th>Shift</th>
                    <th>Location</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                <tr>
                    <td style="display:none;">@item.Id</td>
                    <td>@item.BillNumber</td>
                    <td>@item.Code</td>
                    <td>@item.OrderDateTime</td>
                    <td>
                        @if (item.CustomerId == 1)
                        {<span>Dine-In</span> }
                        else if (item.CustomerId == 2)
                        { <span>Take Away</span> }
                        else
                        { <span>Delivery</span>}
                    </td>
                    <td>@item.TableNumber</td>
                    <td>@item.Shift</td>
                    <td>@item.Location</td>
                    <td>
                        @if (item.OrderStatus == "NEW")
                        {
                            <span class="label label-info">NEW</span>
                        }
                        else if (item.OrderStatus == "PENDING")
                        {
                            <span class="label label-danger">PENDING</span>
                        }
                        else
                        {
                            <span class="label label-success">COMPLETED</span>
                        }
                    </td>
                    <td>
                        <span class="label label-default">
                            <a href="/Order/Edit/@item.Id" style="color:white">Edit</a>
                        </span>&nbsp;|
                        <span class="label label-danger">
                            <a href="#" onclick="cancelOrder('@item.Id')" style="color:white">Cancel</a>
                        </span>
                        &nbsp;|
                        <span class="label label-info">
                            <a href="#" onclick="getInvoiceData('@item.Id')">Invoice</a>
                        </span>
                        &nbsp;|
                        <span class="label label-warning">
                            <a href="#" onclick="processOrder('@item.Id')" style="color:white">Process Order</a>
                        </span>
                    </td>
                </tr>
                }
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>
@*<div id="divLoader" style="display:none;"> <img src="~/Images/load.gif" alt="Sending Invoice.." /> </div>*@
<div class="loader" id="divLoader" style="display:none;"></div>

<div class="modal" tabindex="-1" role="dialog" id="invoiceModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" aria-label="Close">X
                </button>
            </div>
            <div class="modal-body">
                <p>
                    <div class="box box-default">
                        <div class="box"><button type="button" class="btn btn-info pull-right" onclick="printDiv()">Print</button></div>
                        <br />
                        <div class="box-header with-border" id="divInvoice" style="font-family:Verdana;font-size:16px;">
                            <input type="hidden" id="txtInvoiceOrderId" value="0" />
                            <div class="box col-md-6" style="text-align:center;height:130px;background-color:lightgray"><img src="~/Images/Invoice_logo.jpg" /></div>
                            <div style="text-align:center">
                                <small>@CSNCommon.PNTN</small>
                                <br />
                                <small>Ph# @CSNCommon.Phone1 | @CSNCommon.Phone2</small>
                            </div>
                            <hr />
                            <div>
                                <table class="table table-condensed">
                                    <tr><th>Date</th><td id="txtOrderDate"></td><th>Inv#</th><td id="txtOrderNumber"></td><th>Pax</th><td id="tdPax"></td></tr>
                                    <tr><th>Customer</th><td id="txtCustomerName"></td><th>Table</th><td id="txtTableNumber"></td><th>Bill No.</th><td id="txtBillNumber"></td></tr>
                                </table>
                            </div>
                            <table class="table table-condensed" id="tblInvoiceItems">
                                <thead>
                                    <tr>
                                        <th class="text-left">Item</th>
                                        <th class="text-center">Price</th>
                                        <th class="text-center">Quantity</th>
                                        <th class="text-center">Total</th>
                                    </tr>
                                </thead>
                                <tbody id="InvoiceBody"></tbody>
                            </table>
                            <table class='table table-condensed grandTotal pull-right' id="tblSummary">
                                <tr>
                                    <th class="text-right">Items:</th>
                                    <td id="txtItemCount" class="text-right"> <small>0</small></td>
                                    <td></td>
                                    <th class="text-right">Total:</th>
                                    <td id="txtTotal" class="text-right"></td>
                                </tr>
                                <tr>
                                    <th class="text-right">Paid: </th>
                                    <td class="text-right" id="tdCasehPaid"><input type="number" id="txtCashPaid" style="width:50px;" class="text-right" /> </td>
                                    <td></td>
                                    <th class="text-right">GST: </th>
                                    <td id="txtGST" class="text-right"> </td>
                                </tr>
                                <tr>
                                    <th class="text-right">Bal: </th>
                                    <td id="txtBalance" class="text-right"></td>
                                    <th class="text-right">Disc(%): </th>
                                    <td id="tdDiscount" class="text-right"><input type="number" id="txtDiscount" min="0" style="width:50px;" class="text-right" /> </td>
                                    <td id="tdDiscountAmount" class="text-right"></td>
                                </tr>
                                <tr>
                                    <th class="text-right">Mode:</th>
                                    <td class="text-right" id="tdPaymentType">
                                        <select id="txtPaymentType" name="txtPaymentType" style="width:60px;" class="text-right">
                                            <option value="CASH" selected="selected">CASH</option>
                                            <option value="CARD">CARD</option>
                                        </select>
                                    </td>
                                    <th class="text-right">Service:</th>
                                    <td id="tdServiceCharges" class="text-right"><input type="number" id="txtServiceCharges" min="0" style="width:50px;" class="text-right" value="0" /> </td>
                                    <td id="tdServiceAmount" class="text-right"></td>
                                </tr>
                                <tr>
                                    <th class="text-right"></th>
                                    <td class="text-right"> </td>
                                    <td></td>
                                    <th class="text-right">Net :</th>
                                    <td id="txtNetTotal" class="text-right"></td>
                                </tr>
                            </table>
                            <br />
                            <div class='text-center' style="font-family:Algerian;font-size:16px;"> Thank You for visiting @(CSNCommon.RestraurantName).</div>
                            _____________________________________________________________________
                            <div class='footer-copyright text-center py-3'> <small>Powered By: Softanize &nbsp;&nbsp;|&nbsp;&nbsp; http://softanize.com/ &nbsp;&nbsp;|&nbsp;&nbsp; Ph# 0306-4081958</small></div>
                        </div>
                        <button type="button" class="btn btn-info pull-right" onclick="printDiv()">Print</button>

                    </div>
            </p>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/jQuery.print.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

        });

        $("#txtCashPaid").on('input',
            function(e) {
                var balance = parseFloat($("#txtCashPaid").val()) - parseFloat($("#txtNetTotal").html());
                //$("#tdCasehPaid").empty();
                //$("#tdCasehPaid").append($("#txtCashPaid").val());
                $("#txtBalance").empty();
                $("#txtBalance").append(balance.toFixed(2));
            });

        $("#txtDiscount").on('input',
            function(e) {
                //var netTotal = ((parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text())) - parseFloat($("#txtDiscount").val()))
                var totalBeforeDiscount = (parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text()));
                //BEFORE BISTRO
                //var discountAmount = ((parseFloat($("#txtDiscount").val()) / 100.0) * parseFloat(totalBeforeDiscount));
                var discountAmount =
                    Math.ceil((parseFloat($("#txtDiscount").val()) / 100.0) * parseFloat($("#txtTotal").text()));
                $("#tdDiscountAmount").empty();
                $("#tdDiscountAmount").append(Math.ceil(discountAmount.toFixed(2)));

                //BEFORE BISTRO
                //var serviceAmount = ((parseFloat($("#txtServiceCharges").val()) / 100.0) * parseFloat(totalBeforeDiscount));
                var serviceAmount = Math.ceil(((parseFloat($("#txtServiceCharges").val()) / 100.0) *
                    parseFloat($("#txtTotal").text())));
                var netTotal = Math.ceil((parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text()) + serviceAmount) -
                    discountAmount);
                $("#txtNetTotal").empty();
                $("#txtNetTotal").append(Math.ceil(netTotal.toFixed(2)));

            });
        $("#txtServiceCharges").on('input',
            function(e) {
                var totalBeforeDiscount = (parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text()));
                //BEFORE BISTRO
                //var discountAmount = ((parseFloat($("#txtDiscount").val()) / 100.0) * parseFloat(totalBeforeDiscount));
                //var serviceAmount = ((parseFloat($("#txtServiceCharges").val()) / 100.0) * parseFloat(totalBeforeDiscount));
                var discountAmount =
                    Math.ceil((parseFloat($("#txtDiscount").val()) / 100.0) * parseFloat($("#txtTotal").text()));
                var serviceAmount = Math.ceil((parseFloat($("#txtServiceCharges").val()) / 100.0) *
                    parseFloat($("#txtTotal").text()));

                $("#tdServiceAmount").empty();
                $("#tdServiceAmount").append(Math.ceil(serviceAmount.toFixed(2)));
                //var netTotal = ((parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text()) + parseFloat($("#txtServiceCharges").val())) - discountAmount)
                var netTotal = Math.ceil((parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text()) + serviceAmount) -
                    discountAmount)
                $("#txtNetTotal").empty();
                $("#txtNetTotal").append(Math.ceil(netTotal.toFixed(2)));
            });

        function printDiv() {
            //var inpText = $("#txtDiscount").val();
            //var printContents = document.getElementById("divInvoice").innerHTML;
            //printContents += inpText;
            //document.body.innerHTML = printContents;
            var isDeleted = false;
            if ($('#chkIsDeleted').prop("checked") == true) {
                isDeleted = true;
            } else {
                isDeleted = false;
            }
            var invoice = JSON.stringify({
                'Id': 0,
                'OrderId': $("#txtInvoiceOrderId").val(),
                'InvoiceNumber': $("#txtOrderNumber").text(),
                'InvoiceDate': moment().format('DD/MM/YYYY h:mm:ss a'),
                'GrandTotal': $("#txtTotal").text(),
                'DiscountValue': $("#txtDiscount").val(),
                'GST': $("#txtGST").text(),
                'ServiceCharges': $("#txtServiceCharges").val(),
                'NetTotal': $("#txtNetTotal").text(),
                'PaymentType': $("#txtPaymentType").val(),
                'IsSentToPRA': false,
                'IsDeleted': isDeleted
            });

            $("#divLoader").show();
            setTimeout(
                function() {
                    //do something special
                },
                10000);
            $.ajax({
                url: "/Order/GenerateInvoice",
                data: invoice,
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(data) {
                    $("#divLoader").hide();
                    alert(data.responseText);
                    //alert(data.success);
                    //if(data.success) {
                    //var divToPrint = document.getElementById('divInvoice');
                    //var newWin = window.open('', 'Print-Window');
                    //newWin.document.open();
                    //newWin.document.write('<html><body onload="window.print()">' + divToPrint.innerHTML + '</body></html>');
                    //newWin.document.close();
                    //setTimeout(function () { newWin.close(); }, 10);
                    $("#txtDiscount").prop('disabled', true);
                    $("#txtServiceCharges").prop('disabled', true);
                    $("#divInvoice").print();
                    //alert(10);
                    //window.location.href = "/Order/Index";
                },
                error: function(err) {
                    $("#divLoader").hide();
                    alert(err.responseText);
                }
            });

        };

        function cancelOrder(orderId) {
            if (confirm("Are you sure to cancel this order?")) {
                $.ajax({
                    url: "/Order/CancelOrder",
                    data: JSON.stringify({ orderId: orderId }),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function(data) {
                        if (data.success) {
                            toastr.success(data.responseText);
                        } else {
                            toastr.error(data.responseText);
                        }
                    },
                    error: function(err) {
                        setTimeout(
                            function() 
                            {
                                window.location.href = "/Order/Index";
                            }, 2000);
                    }
                });
            }
        };
        function processOrder(orderId) {
            if (confirm("Are you sure to process this order?")) {
                $.ajax({
                    url: "/Order/ProcessOrder",
                    data: JSON.stringify({ orderId: orderId }),
                    type: "POST",
                    contentType: "application/json;charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        if (data.success) {
                            setTimeout(
                                function () {
                                    toastr.success(data.responseText);
                                }, 5000);
                            window.location.href = "/Order/Index";
                            //alert(data.responseText);
                            //window.location.href = "/Order/Index";
                        } else {
                            toastr.error(data.responseText);
                        }
                    },
                    error: function (err) {
                        setTimeout(
                            function () {
                                window.location.href = "/Order/Index";
                            }, 2000);
                    }
                });
            }
        }
        function getInvoiceData(orderId) {
            //if (!confirm("This will generate an invoice. Are you sure?")) {
            //    return false;
            //}
            //debugger;
            $("#txtInvoiceOrderId").val(orderId);
            $("#txtCashPaid").val(0);
            $("#txtBalance").empty();
            $("#txtBalance").append(0);
            $.ajax({
                url: "/Order/GetInvoice",
                data: JSON.stringify({ Id: orderId }),
                type: "POST",
                contentType: "application/json;charset=utf-8",
                dataType: "json",
                success: function(result) {
                    //$('#txtCustomerName').text(result.CustomerName);
                    //$('#txtOrderNumber').text(result.Code);
                    //$("#txtOrderDate").text(moment().format('DD/MM/YYYY h:mm a'));
                    $('#txtCustomerName').empty();
                    $('#txtCustomerName').append(result.CustomerName);
                    $('#txtOrderNumber').empty();
                    $('#txtOrderNumber').append(result.Code);
                    $("#txtOrderDate").empty();
                    $("#txtOrderDate").append(moment().format('DD/MM/YYYY'));
                    $("#txtTableNumber").empty();
                    $("#txtTableNumber").append(result.TableNumber);
                    $("#txtBillNumber").empty();
                    $("#txtBillNumber").append(result.BillNumber);
                    $("#tdPax").empty();
                    $("#tdPax").append(result.Pax);
                    $('#txtTotal').empty();
                    $('#txtTotal').append(result.GrandTotal);
                    $('#txtGST').empty();
                    $('#txtGST').append(Math.ceil(result.GST));
                    console.log(result.Code);
                    if (result.IsNewOrder != null && result.IsNewOrder != undefined && result.IsNewOrder == false) {
                        $("#txtDiscount").prop('disabled', true);
                        $("#txtServiceCharges").prop('disabled', true);
                    } else {
                        $("#txtDiscount").prop('disabled', false);
                        $("#txtServiceCharges").prop('disabled', false);
                    }
                    $('#txtDiscount').val(result.DiscountValue);
                    $("#txtServiceCharges").val(result.ServiceCharges);
                    $('#txtNetTotal').empty();
                    $('#txtNetTotal').append(result.NetTotal);

                    $("#InvoiceBody").empty();
                    $.each(result.OrderDetail,
                        function(i, item) {
                            //console.log(result);

                            $("#InvoiceBody").append("<tr>" +
                                "<td class='itemName text-left'>" +
                                "    <span> " +
                                result.OrderDetail[i].ItemName +
                                "</span>" +
                                "</td>" +
                                "<td class='price text-center'>" +
                                "    <span> " +
                                result.OrderDetail[i].Price +
                                "</span>" +
                                "</td>" +
                                "<td class='quantity text-center'>" +
                                "   <span>" +
                                result.OrderDetail[i].Quantity +
                                "</span>" +
                                "</td>" +
                                "<td class='lineTotal text-center'>" +
                                "   <span>" +
                                result.OrderDetail[i].LineTotal +
                                "</span>" +
                                "</td>" +
                                "</tr>");
                        });
                    var rowCount = $('#tblInvoiceItems tr').length;
                    $('#txtItemCount').empty();
                    $('#txtItemCount').append(rowCount - 1);

                    
                    var totalBeforeDiscount = (parseFloat($("#txtTotal").text()) + Math.ceil(parseFloat($("#txtGST").text())));
                    //BEFORE BISTRO201
                    //var discountAmount = ((parseFloat($("#txtDiscount").val()) / 100.0) * parseFloat(totalBeforeDiscount));
                    //var serviceAmount = ((parseFloat($("#txtServiceCharges").val()) / 100.0) * parseFloat(totalBeforeDiscount));

                    var discountAmount = ((parseFloat($("#txtDiscount").val()) / 100.0) *
                        parseFloat($("#txtTotal").text()));
                    var serviceAmount = ((parseFloat($("#txtServiceCharges").val()) / 100.0) *
                        parseFloat($("#txtTotal").text()));

                    $("#tdDiscountAmount").empty();
                    $("#tdDiscountAmount").append(Math.ceil(discountAmount.toFixed(2)));
                    $("#tdServiceAmount").empty();
                    $("#tdServiceAmount").append(Math.ceil(serviceAmount.toFixed(2)));
                    //var netTotal = ((parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text()) + parseFloat($("#txtServiceCharges").val())) - discountAmount)
                    var netTotal =
                    ((parseFloat($("#txtTotal").text()) + parseFloat($("#txtGST").text()) + serviceAmount) -
                        discountAmount)
                    $("#txtNetTotal").empty();
                    $("#txtNetTotal").append(Math.ceil(netTotal.toFixed(2)));
                    $('#invoiceModal').modal('show'); 

                },
                error: function(err) {
                    alert(err.responseText);
                }
            });
        };
        document.onkeyup = function (e) {
            //ALT+P COMBIBATIOB FOR INVOICE PREVIEW
            if (e.altKey && e.which == 80) {
                printDiv();
            };
        }
    </script>
    }
    <style>
    .loader {
        position: fixed;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 100%;
        z-index: 9999;
        background: url('../../Images/loading.gif') 50% 50% no-repeat rgb(249,249,249);
    }
    .logo {
        background: url('../../Images/logo.bmp') 50% 50% no-repeat rgb(249,249,249);
    }

    body {
        font-size: 14px;
    }

    .liveExample {
        padding: 1em;
        background-color: #EEEEDD;
        border: 1px solid #CCC;
        max-width: 655px;
    }

        .liveExample input {
            font-family: Arial;
        }

        .liveExample b {
            font-weight: bold;
        }

        .liveExample p {
            margin-top: 0.9em;
            margin-bottom: 0.9em;
        }

        .liveExample select[multiple] {
            width: 100%;
            height: 8em;
        }

        .liveExample h2 {
            margin-top: 0.4em;
            font-weight: bold;
            font-size: 1.2em;
        }

        .liveExample th {
            text-align: left;
            font-weight: bold;
        }

        .liveExample .price {
            text-align: right;
            padding-right: 2em;
        }

        .liveExample .grandTotal {
            border-top: 1px solid silver;
            padding-top: 0.5em;
            font-size: 1.2em;
        }

            .liveExample .grandTotal SPAN {
                font-weight: bold;
            }

        .liveExample table, .liveExample td, .liveExample th {
            padding: 0.2em;
            border-width: 0;
            margin: 0;
            vertical-align: top;
        }

            .liveExample td input, .liveExample td select {
                width: 8em;
            }

            .liveExample td.quantity input {
                width: 4em;
            }

            .liveExample td select {
                height: 1.8em;
                white-space: nowrap;
            }


    li {
        list-style-type: disc;
        margin-left: 20px;
    }
</style>