@model RestaurantManagementSystem.Models.UserLevel

@{
    ViewBag.Title = "Edit";
}
<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb"></ol>
</section>

<div class="box box-primary">
    <div class="box-header">
        <h3 class="box-title">User Level Edit</h3>

    </div>

    <div class="box-body">
        <div class="form-group col-md-6">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    @Html.HiddenFor(model => model.LevelId)

                    <div class="form-group">
                      
                        <label for="LevelName">LevelName</label>
                        <input type="text" class="form-control" placeholder="Enter Level Name" id="LevelName" name="LevelName"  value="@Model.LevelName" required />
                        @Html.ValidationMessageFor(model => model.LevelName, "", new { @class = "text-danger" })
                    </div>
                    <div class="form-group">

                        <label for="Description">Description</label>
                        <input type="text" class="form-control" placeholder="Enter Description" id="LevelName" name="LevelName" value="@Model.Description"  />

                    </div>

                    <div class="form-group">
                        <label for="IsActive_YN">Is Active</label>
                        
                            <div class="checkbox">
                                @Html.EditorFor(model => model.IsActive_YN)
                                @Html.ValidationMessageFor(model => model.IsActive_YN, "", new { @class = "text-danger" })
                            </div>
                        
                    </div>

                    <div class="form-group">
                       
                            <input type="submit" value="Save" class="btn btn-primary" />
                       
                    </div>
                    <div>
                        @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-primary" })
                    </div>
                </div>
                }

           

        </div>
    </div>
</div>

