@model RestaurantManagementSystem.Models.RoleViewModel

@{
    ViewBag.Title = "Details";
}
<section class="content-header">
    <h1></h1>
    <ol class="breadcrumb"></ol>
</section>
<div class="col-sm-12 col-md-8 col-lg-offset-2">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Role Detail</h3>

        </div>

        <div class="box-body">

            <div>

                <dl class="dl-horizontal">
                    <dt>
                        @Html.DisplayNameFor(model => model.DisplayName)
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.DisplayName)
                    </dd>



                    <dt>
                        @Html.LabelFor(model => model.LevelName,"User Level", htmlAttributes: new { @class = "control-label" })
                        
                    </dt>

                    <dd>
                        @Html.DisplayFor(model => model.LevelName)
                    </dd>



                </dl>
            </div>
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.Id }, htmlAttributes: new { @class = "btn btn-default" }) 
                @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-default" })
            </p>
        </div>
    </div>
</div>
