@model IEnumerable<RestaurantManagementSystem.ViewModels.CategoryWiseSales>
@{
    ViewBag.Title = "Category wise Sales";
}

<div class="col-md-12">
    <div class="box box-info">

        <div class="box box-default">
            @using (Html.BeginForm("CategoryWiseSales", "Reports", FormMethod.Get))
            {
                <div class="box-header with-border">
                    <h2 class="box-title"><b>Sales</b></h2>
                    <hr />
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("FromDate", "From Date", htmlAttributes: new { @class = "control-label col-md-4 date" })
                        <div class="col-md-8">
                            @Html.Editor("FromDate", new { htmlAttributes = new { text = DateTime.Now.ToString(), @class = "form-control datetimepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        @Html.Label("ToDate", "To Date", htmlAttributes: new { @class = "control-label col-md-4 date" })
                        <div class="col-md-8">
                            @Html.Editor("ToDate", new { htmlAttributes = new { text = DateTime.Now.ToString(), @class = "form-control datetimepicker" } })
                        </div>
                    </div>
                    <div class="form-group col-md-4">
                        <input type="submit" value="Submit" class="btn btn-primary" />
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div class="col-md-12">
    <div class="box box-info">
        <div class="box-header with-border">
            <h3 class="box-title">Sales By Category</h3>

            <div class="box-tools pull-right">
                <button type="button" class="btn btn-box-tool" data-widget="collapse">
                    <i class="fa fa-minus"></i>
                </button>
                <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
            </div>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                @*<a href="#" id="btnAdvSearch" class="pull-right">Advanced Search</a>*@
                <table class="table no-margin" id="tblCategorywiseSales">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>No Of Orders</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Code</th>
                            <th>Name</th>
                            <th>Quantity</th>
                            <th>No Of Orders</th>
                        </tr>
                    </tfoot>
                    <tbody id="tblCategorywiseSalesBody">
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Code</td>
                                <td>@item.Category</td>
                                <td>@item.Quantity</td>
                                <td>@item.NoOfOrders</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>     
    </div>
</div>
@section Scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $('.datetimepicker').datepicker();
            $('#tblCategorywiseSales tfoot').toggle();
            // Setup - add a text input to each footer cell
            $('#tblCategorywiseSales tfoot th').each(function () {
                var title = $(this).text();
                $(this).html('<input type="text" id="filter_' + title + '"class="input-class" style="width:100px"/>');
            });

            var table = $("#tblCategorywiseSales").DataTable({
                'paging': true,
                'lengthChange': true,
                'searching': true,
                'ordering': true,
                'info': true,
                'autoWidth': false,
                'responsive': true,
                "pageLength": 50,
                "lengthMenu": [[50, 100, 200], [50, 100, 200]],
                // scrollY: 400,
                //scroller: {
                //    loadingIndicator: true
                //},
                dom: 'Bflrtip',
                buttons: [
                    {
                        extend: 'excelHtml5',
                        className: 'btn',
                        title: '\n Sales By Category\n ',
                        customize: function (doc) {
                            doc.styles.title = {
                                color: 'black',
                                background: 'white',
                                fontSize: '16',
                                alignment: 'left'
                            }
                        },
                        titleAttr: 'Export Excel',
                        orientation: 'portrait',
                        exportOptions: {
                            columns: [0,1, 2, 3]
                        }
                    },
                    {
                        extend: 'pdfHtml5',
                        text: '<i class="fa fa-file-pdf-o"></i>',
                        className: 'btn',
                        title: 'Softanize \n Sales By Category\n ',
                        customize: function (doc) {
                            doc.styles.title = {
                                color: 'black',
                                background: 'white',
                                fontSize: '16',
                                alignment: 'left'
                            }
                        },
                        titleAttr: 'Export PDF',
                        orientation: 'portrait',
                        exportOptions: {
                            columns: [0,1, 2, 3]
                        }
                    }
                ]

            });

            $('#btnAdvSearch').click(function () {
                $('#tblCategorywiseSales tfoot').toggle();
                $('#btnAdvSearch').text(function (_, txt) {
                    var ret = '';
                    if (txt == 'Advanced Search') {
                        ret = 'Basic Search';
                        $("[id^='filter_']").val("").change();
                    } else {
                        ret = 'Advanced Search';
                        $("[id^='filter_']").val("").change();
                    }
                    return ret;
                });
                return false;
            });

            // Apply the search
            table.columns().every(function () {
                var that = this;
                $('input', this.footer()).on('keyup change', function () {
                    if (that.search() !== this.value) {
                        that.search(this.value).draw();
                    }
                });
            });

            $("#filter_Actions").hide();
            $("#filter_Ser").hide();

        });
        $('.datetimepicker').on('changeDate', function (ev) {
            $(this).datepicker('hide');
        });
    </script>
}